<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script language="JavaScript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <style>
        .inputItem{
            width: 500px;
            height: 500px;
            outline:medium;
            line-height: 30px;
            background: transparent;
            font-size: 14px;
            caret-color: #60A0EF;
        }
    </style>
</head>
<body>
    <div class="item">
        <textarea type="text" class="inputItem" id="cookieStr" placeholder="要发送的Cookie值"></textarea>
        <textarea type="text" class="inputItem" id="address" placeholder="地址">http://192.168.1.183:3100/beginScanning</textarea>
    </div>
    <div class="item">
        <button id="send">发送</button>
        <button id="getLog">获取日志</button>
    </div>
    <div class="item">
        <div id="result"></div>
    </div>
</body>


<script>
    $(document).ready(function(){
        $("#send").click(function(){
            let url = $('#address').val();
            let data ={
                'cookieStr':$('#cookieStr').val()
            };
            $.ajax({
                type: "POST",
                url:url,
                dataType: "json",
                contentType: 'application/json',
                data:JSON.stringify(data),
                async:false,
                success:function(res){
                    $('#result').html(res.result);
                }
            });
        });
        $("#getLog").click(function(){
            window.location.href = 'http://192.168.1.183:3100/getReport';
        });
    });
</script>

</html>